@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 248% 250%;
    /* Twitter background color */
    --foreground: 210, 25%, 8%;
    /* Twitter foreground color */

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 245 248% 250%;
    /* Twitter popover background color */
    --popover-foreground: 210, 25%, 8%;
    /* Twitter popover foreground color */

    --card: 245 248% 250%;
    /* Twitter card background color */
    --card-foreground: 210, 25%, 8%;
    /* Twitter card foreground color */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 206 95% 55%;
    /* Twitter primary color */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210, 25%, 8%;
    /* Twitter secondary foreground color */

    --accent: 210 40% 96.1%;
    --accent-foreground: 210, 25%, 8%;
    /* Twitter accent foreground color */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210, 25%, 8%;
    /* Twitter dark mode background color */
    --foreground: 245 248% 250%;
    /* Twitter dark mode foreground color */

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 210, 25%, 8%;
    /* Twitter dark mode popover background color */
    --popover-foreground: 245 248% 250%;
    /* Twitter dark mode popover foreground color */

    --card: 210, 25%, 8%;
    /* Twitter dark mode card background color */
    --card-foreground: 245 248% 250%;
    /* Twitter dark mode card foreground color */

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 206 95% 55%;
    /* Twitter dark mode primary color */
    --primary-foreground: 210, 25%, 8%;
    /* Twitter dark mode primary foreground color */

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 245 248% 250%;
    /* Twitter dark mode secondary foreground color */

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 245 248% 250%;
    /* Twitter dark mode accent foreground color */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}